<div class="menufootercontainer">
<ul><h3>Featured News</h3>
<!-- loop articlefeatured -->
<li><a href='/read_article/{{articlefeatured' v.@ID_NEWS}}' >{{articlefeatured' v.@Headline}}</a></li>

<!-- endloop -->
</ul>
<ul><h3>Most Liked</h3>
<!-- loop likearticle -->
<li><a href='/read_article/{{likearticle' v.@ID_NEWS}}' >{{likearticle' v.@Headline}}</a></li>

<!-- endloop -->
</ul>
<ul><h3>Latest News</h3>
<!-- loop articlelatest -->
<li><a href='/read_article/{{articlelatest' v.@ID_NEWS}}' >{{articlelatest' v.@Headline}}</a></li>

<!-- endloop -->
</ul>

<ul><h3>Latest Battles</h3>
<li>test</li>
<li>test</li>
<li>test</li>
<li>test</li>
<li>test</li>
</ul>
<div id='copyrightinfo'>
&copy; Playnation 2011

<div id='compagnyinfo'>
<!-- loop bottommenu -->

<a href='/menu_bottom/popup/?id={{bottommenu' v.@menu_id}}' title='{{bottommenu' v.@menu_titel}}' class='contentDialog' >{{bottommenu' v.@menu_titel}}</a> &#8226;
<!-- endloop -->
</div></div>
</div>