<div id="cWrapper">
	<div id="cYear">
		<a href="" id="previousYear"></a>
		<label>2011</label>
		<a href="" id="nextYear"></a>
	</div>
	<div id="cMonth">
		<a href="" id="previousMonth"></a>
		<label>November</label>
		<a href="" id="nextMonth"></a>
	</div>
<div class="clearfix"><br /></div>
	<div id="cDays">
		<table id="cCalendar">
			<tr>
				<th><label>Mon</label></th>
				<th><label>Tue</label></th>
				<th><label>Wed</label></th>
				<th><label>Thu</label></th>
				<th><label>Fri</label></th>
				<th><label>Sat</label></th>
				<th><label>Sun</label></th>
			</tr>
		   
			<tr>
				<td><a href="">1</a></td>
				<td><a href="">2</a></td>
				<td><a href="">3</a></td>
				<td><a href="">4</a></td>
				<td><a href="">5</a></td>
				<td><a href="">6</a></td>
				<td><a href="">7</a></td>
			</tr>
		</table>
	</div>
</div>